body{
    color: #99d6ff;
    background-color: #0c1927;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
}

header{
    padding: 20px;
    height: 75px;
    background-color: #18324e;
    border-bottom: 3px black solid;
    position: sticky;
    top: 0px;
}

#blog_header{
    float: left;
}

#user_buttons_div{
    width: 200px;
    margin-left: auto;
    margin-top: 25px;
}

.user_button{
    background-color: #ffff00;
    font-size: 25px;
    border-radius: 5px;
    cursor: pointer;
}

main{
    padding: 20px;
}

#top_blogs_div{
    background-color: #18324e;
    min-height: 500px;
    height: auto;
    width: 50%;
    border: 3px black solid;
    border-radius: 10px;
    margin: auto;
}

.blog_li_div{
    border-bottom: 3px black solid;
    background-color: #0c1927;
    overflow: auto;
    cursor: pointer;
}

.blog_li_div:hover{
    background-color: #18324e;
}

.post_div{
    background-color: #0c1927;
    height: auto;
    width: 50%;
    border: 3px black solid;
    border-radius: 10px;
    margin: auto auto 20px;
}

.post_header{
    background-color: #18324e;
    overflow: auto;
    border-bottom: 3px black solid;
}

.user_form_div{
    background-color: #18324e;
    height: auto;
    width: 200px;
    border: 3px black solid;
    border-radius: 10px;
    margin: 10% auto auto;
    padding: 20px;
}

footer{
    padding: 20px;
    background-color: #18324e;
    border-top: 3px black solid;
    text-align: center;
}

a:link{
    color: #99d6ff;
    text-decoration: none;
}

a:active{
    text-decoration: none;
}

a:visited{
    color: #99d6ff;
    text-decoration: none;
}