<!DOCTYPE html>
<html lang="en">
<head>
    <link href="{{ url_for('static', path='/style.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', path='/script.js') }}" type="text/javascript"></script>
    <meta charset="UTF-8">
    <title>Create Post</title>
</head>
<body>
    <main>
        <div class="user_form_div" style="width: 620px;">
            <form action="/blog/create-post/{{ blog_id }}" method="post">
                <label for="title">Title:</label><br>
                <input type="text" id="title" name="title"><br><br>
                <label for="body">Body:</label><br>
                <textarea rows="10" cols="80" type="text" id="body" name="body">Body:</textarea><br><br>
                <input type="submit" value="Create">
            </form>
        </div>
    </main>
</body>
</html>